{{>title}}
<div id="input">
    <input type="search" oninput={findBook(value)}></input>
</div>

<div id="boxBooks"></div>

<script>
    async function findBook(value){
        const book = {
            search: value
        }
        await fetch("http://localhost:3000/book", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify(book)
        }).then(res => res.json())
        .then(data => {
            let book = data.books;
            clearBooks();

            book.forEach((livro) => {
                let boxBooks = document.getElementById("boxBooks");
                if(!boxBooks){
                    boxBooks = document.createElement("div");
                    boxBooks.id = "boxBooks";
                    document.body.appendChild(boxBooks);
                }
                let form = document.createElement("form")
                form.action = `/getBook/${livro.id}`
                form.method = "GET"
                boxBooks.appendChild(form)
                const input = document.createElement("input")
                input.setAttribute("type", "hidden")
                input.setAttribute("name", "bookId")
                input.setAttribute("value", livro.id)
                form.appendChild(input)
                let book = document.createElement("div");
                book.id = "book";
                form.appendChild(book);
                let button = document.createElement("button");
                book.appendChild(button);
                let img = document.createElement("img");
                img.src = livro.volumeInfo.imageLinks.thumbnail;
                button.appendChild(img);
                let title = document.createElement("p");
                title.innerHTML = livro.volumeInfo.title;
                button.appendChild(title);
            })
        })
        .catch(error => console.log(error));
    }
    async function clearBooks(){
        const pai = document.body;
        const boxBooks = document.getElementById("boxBooks");
        if(boxBooks){
            pai.removeChild(boxBooks);
        }
    }
    async function message(){
        const boxBooks = document.getElementById("boxBooks");
        const book = document.getElementById("book");
        const h2 = document.getElementById("h2");
        if(!book || !h2){
            const h2 = document.createElement("h2");
            h2.id = "h2";
            h2.innerHTML = "Pesquise por livros e eles aparecerão aqui!";
            boxBooks.appendChild(h2);
        }
    }
    message();
</script>
