<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BooksAPI</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <style>
    h1{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: 500;
    }
    #buttonDiv{
      display: flex;
      justify-content: center;
    }
    </style>
  </head>
  <body>
    {{{body}}}
  <body>
</html>