<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>BooksAPI</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    {{{body}}}
  <body>
</html>